<!DOCTYPE html>
<html>
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<h3 class="page-header text-center">Add Profile</h3>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Name" id="name">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Age" id="age">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Location" id="location">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Profile Picture" id="picture">
			</div>
			<div class="form-group">
				<button onclick="create()" class="btn btn-block btn-success">Add Profile</button>
			</div>
		</div>
		<div id="updateForm" class="col-sm-6">

		</div>
	</div>
	<hr>
	<h5 class="page-header text-center">Profiles</h5>
	<ul id="profiles" class="col-sm-10 col-sm-offset-1">

	</ul>


	<script src="/javascript/app.js"></script>
</body>
</html>
