<!DOCTYPE html>
<html>
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<input type="text" placeholder="Name" id="name">
	<input type="text" placeholder="Age" id="age">
	<input type="text" placeholder="Location" id="location">
	<input type="text" placeholder="Profile Picture" id="picture">

	<button onclick="create()">Add Profile</button>

	<ul id="profiles">

	</ul>

	<div id="updateForm">

	</div>

	<script src="/javascript/app.js"></script>
</body>
</html>
